<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
<form action="/memberupdate" method="post" name="member_updateForm">
  <input type="hidden" name="post_id" th:value="${post_update.post_id}">
  <input type="hidden" name="post_type" th:value="${post_update.post_type}" > <br>
  writer: <input type="text" name="post_writer" th:value="${post_update.post_writer}" readonly> <br> <!--작성자는 수정 불가 -->
  title: <input type="text" name="post_title" th:value="${post_update.post_title}"> <br>
  contents: <textarea name="post_content" cols="30" rows="10" th:text="${post_update.post_content}"></textarea> <br>
  <input type="hidden" name="post_hits" th:value="${post_update.post_hits}">
  <input type="button" value="글수정" onclick="post_update()">
</form>
<script th:inline="javascript">
  const post_update = () => {
    document.member_updateForm.submit();
  }
</script>
</body>